.cart__content {
    width: 100%;
    height: inherit;
    padding: 0 0 100px;
}

.cart__title {
    padding: 35px 0;
    font-size: 26px;
    text-align: center;
    color: #006890;
    font-weight: 700;
}

.cart__empty {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__items {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.cart__item {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    margin: 0 0 20px;
    font-size: 26px;
    background-color: #00679049;
    border-radius: 20px;
}

.cart__item-article {
    width: 100px;
}

.cart__item-title {
    width: 400px;
}

.cart__item_img {
    width: 120px;
    margin: 0 50px 0 0;
}

.cart__item-price {
    width: 150px;
    text-align: center;
}

.cart__item-color {
    width: 250px;
}

.cart__item-icon--wrapper {
    display: flex;
    justify-content: end;
    flex: 1 1 auto;
}

.cart__item-icon {
    width: 35px;
    fill: #fff;
    cursor: pointer;

    &:hover {
        fill: #ff0000;
    }
}