.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    width: 400px;
    background-color: #19777e;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #c0c0c0;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__close {
    width: 30px;
    height: 30px;
    fill: #fff;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        fill: #ff0000;
        box-shadow: none;
    }
}

.modal__header,
.modal__footer {
    padding: 12px;
}

.modal__title {
    color: #fff;
}

.modal__body {
    padding: 20px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    text-align: center;

    & div {
        color: #fff;
    }
}

.modal__footer {
    display: flex;
    justify-content: center;
    gap: 20px;

    &--btn {
        background-color: #03a7aa;
        color: #fff;
        box-shadow: 0 0 2px 1px #c0c0c0;

        &:hover {
            background-color: #00bdc0;
            box-shadow: 0 0 1px 1px #c0c0c0;
        }
    }
}
